Repository team-cafet/clug, pull requests merged in 2020-10, with the labels that each got.

#55 Fixes/issue #46
  packages/backend/.env.example
  packages/backend/src/controllers/member.ts
  packages/backend/src/models/Member.ts
  packages/backend/src/routes/member.ts
  packages/frontend/package.json
  packages/frontend/src/components/organisms/MemberForm.tsx
  packages/frontend/src/components/template/AdminLayout.scss
  packages/frontend/src/components/template/AdminLayout.tsx
  packages/frontend/src/components/template/Sidebar.scss
  packages/frontend/src/components/template/Sidebar.tsx
  packages/frontend/src/hooks/useGetAllFromService.tsx
  packages/frontend/src/hooks/useMemberLabels.tsx
  packages/frontend/src/libs/interfaces/member.interface.ts
Labels: frontend

#56 Feature/design login
  packages/frontend/public/logo192.png
  packages/frontend/public/logo512.png
  packages/frontend/src/assets/logo/clug-logo-w.svg
  packages/frontend/src/assets/logo/clug-logo.svg
  packages/frontend/src/components/App.tsx
  packages/frontend/src/components/atoms/Button.tsx
  packages/frontend/src/components/atoms/Logo.tsx
  packages/frontend/src/components/atoms/logo.scss
  packages/frontend/src/components/organisms/LoginForm.tsx
  packages/frontend/src/components/organisms/forms.scss
  packages/frontend/src/components/pages/Login.tsx
  packages/frontend/src/components/template/AdminLayout.scss
  packages/frontend/src/components/template/AdminLayout.tsx
  packages/frontend/src/components/template/BasicLayout.scss
  packages/frontend/src/index.scss
  packages/frontend/src/index.tsx
  packages/frontend/src/theming/alerts.scss
  packages/frontend/src/theming/button.scss
Labels: enhancement, frontend, high-priority

#63 add a deploy script and deploy new frontend
  packages/backend/public/2.ce8b5a88.chunk.js
  packages/backend/public/2.ce8b5a88.chunk.js.LICENSE.txt
  packages/backend/public/2.ce8b5a88.chunk.js.map
  packages/backend/public/asset-manifest.json
  packages/backend/public/clug-logo-w.6bd58774.svg
  packages/backend/public/index.html
  packages/backend/public/logout.6bbb8f06.svg
  packages/backend/public/main.099fd5b1.chunk.css
  packages/backend/public/main.099fd5b1.chunk.css.map
  packages/backend/public/main.cd1b78e0.chunk.js
  packages/backend/public/main.cd1b78e0.chunk.js.map
  packages/backend/public/precache-manifest.586c2f27f0f18f5d0ad215cd2de6c239.js
  packages/backend/public/precache-manifest.c96bfb38e94d5fc782be385dca58ac63.js
  packages/backend/public/runtime-main.d6b1ddb0.js
  packages/backend/public/runtime-main.d6b1ddb0.js.map
  packages/backend/public/service-worker.js
  packages/backend/public/static/css/main.99a42ae0.chunk.css
  packages/backend/public/static/css/main.99a42ae0.chunk.css.map
  packages/backend/public/static/js/2.5dc3e1ee.chunk.js
  packages/backend/public/static/js/2.5dc3e1ee.chunk.js.map
  packages/backend/public/static/js/main.cb0115a3.chunk.js
  packages/backend/public/static/js/main.cb0115a3.chunk.js.map
  packages/frontend/deploy-to-backend.js
  packages/frontend/package.json
Labels: backend, enhancement, frontend, high-priority
